*.csv
config.json
.DS_Store
*.sql
strategy_nyt.json
strategy_wapo.json
strategy.json
TODO.md
*.out
tests/strategy_nyt_test.json
tests/strategy_wapo_test.json
cmd/sponge/sponge
dev.cfg
examples/*.json
