{
	"Name": "Publisher",
	"Strategy": {
		"type": "mysql",
		"tables": ["nyt_comments"]
},

	"Credentials": [
		{
			"database":  "coral",
			"username":  "",
			"password":  "",
			"host":      "localhost",
			"port":     "5432",
			"adapter":  "mysql",
			"type": "source"
		},
		{
			"database":  "coral",
			"username":  "",
			"password":  "",
			"host":      "localhost",
			"port":     "5432",
			"adapter":  "mongodb",
			"type": "local"
		}
	]
}
