{
  "Name": "Washington Post",
  "Map": {
    "Foreign": "mongodb",
    "DateTimeFormat": "2006-02-01T15:04:05Z",
    "Entities": {
      "assets": {
        "Foreign": "assets",
        "Local": "assets",
        "Priority": 0,
        "OrderBy": "url",
        "ID": "url",
        "Index": [
          {
            "name": "url",
            "key": ["url"],
            "unique": true,
            "dropdups": true
          }
        ],
        "Fields": [
          {
            "foreign": "url",
            "local": "id",
            "relation": "Source",
            "type": "int"
          },
          {
            "foreign": "url",
            "local": "url",
            "relation": "Identity",
            "type": "int"
          },
          {
            "foreign": "section",
            "local": "section",
            "relation": "Identity",
            "type": "string"
          },
          {
            "foreign": "authors",
            "local": "authors",
            "relation": "SubDocument",
            "type": "collection",
            "fields": [
              {
                "foreign": "_id",
                "local": "id"
              },
              {
                "foreign": "name",
                "local": "name"
              },
              {
                "foreign": "url",
                "local": "url"
              },
              {
                "foreign": "twitter",
                "local": "twitter"
              },
              {
                "foreign": "facebook",
                "local": "facebook"
              }
            ]
          }
        ],
        "Endpoint": "/api/import/asset"
      },
      "users": {
        "Foreign": "actors",
        "Local": "users",
        "Priority": 1,
        "OrderBy": "_id",
        "ID": "_id",
        "Index": [
          {
            "name": "title",
            "key": ["name"],
            "unique": false,
            "dropdups": true
          }
        ],
        "Fields": [
          {
            "foreign": "_id",
            "local": "id",
            "relation": "Source",
            "type": "String"
          },
          {
            "foreign": "title",
            "local": "name",
            "relation": "Identity",
            "type": "String"
          },
          {
            "foreign": "status",
            "local": "status",
            "relation": "Status",
            "type": "String"
          },
          {
            "foreign": "avatar",
            "local": "avatar",
            "relation": "Identity",
            "type": "String"
          }
        ],
        "Status": {
          "unmoderated": "1",
          "accepted": "2",
          "rejected": "3",
          "escalated": "4"
        },
        "Endpoint": "/api/import/user"
      },
      "comments": {
        "Foreign": "comments",
        "Local": "comments",
        "Priority": 2,
        "OrderBy": "postedTime",
        "ID": "_id",
        "Index": [
          {
            "name": "posted-time",
            "key": ["date_created"],
            "unique": false,
            "dropdups": false
          }
        ],
        "Fields": [
          {
            "foreign": "_id",
            "local": "id",
            "relation": "Source",
            "type": "ObjectId"
          },
          {
            "foreign": "object.content",
            "local": "body",
            "relation": "Identity",
            "type": "String"
          },
          {
            "foreign": "actor.id",
            "local": "user_id",
            "relation": "Source",
            "type": "String"
          },
          {
            "foreign": "object.context.0.uri",
            "local": "asset_id",
            "relation": "Source",
            "type": "String"
          },
          {
            "foreign": "object.status",
            "local": "status",
            "relation": "Identity",
            "type": "int"
          },
          {
            "foreign": "targets.0.id",
            "local": "parent_id",
            "relation": "Source",
            "type": "int"
          },
          {
            "foreign": "postedTime",
            "local": "date_created",
            "relation": "ParseTimeDate",
            "type": "timedate",
            "datetimeformat": "2006-01-02 15:04:05 -0700 PST"
          },
          {
            "foreign": "updated",
            "local": "date_updated",
            "relation": "ParseTimeDate",
            "type": "timedate",
            "datetimeformat": "2006-01-02 15:04:05 -0700 PST"
          }
        ],
        "Endpoint": "/api/import/comment"
      },
      "actions": {
        "Foreign": "comments",
        "Local": "actions",
        "Priority": 4,
        "OrderBy": "",
        "ID": "_id",
        "Index": [
          {
            "name": "",
            "key": [""],
            "unique": false,
            "dropdups": false
          }
        ],
        "Fields": [
          {
            "foreign": "",
            "value": "likes",
            "local": "type",
            "relation": "Constant",
            "type": "String"
          },
          {
            "foreign": "",
            "value": "comments",
            "local": "target",
            "relation": "Constant",
            "type": "String"
          },
          {
            "foreign": "_id",
            "local": "target_id",
            "relation": "Source",
            "type": "String"
          },
          {
            "foreign": "object.likes",
            "fields": [
              {
                "foreign": "published",
                "local": "date",
                "relation": "Identity"
              },
              {
                "foreign": "actor.id",
                "local" : "user_id",
                "relation": "Source"
              }
            ],
            "type": "Array",
            "relation": "Loop"
          }
        ],
        "Endpoint": "/api/import/action"
      },
      "actions": {
        "Foreign": "comments",
        "Local": "actions",
        "Priority": 3,
        "OrderBy": "",
        "ID": "_id",
        "Index": [
          {
            "name": "",
            "key": [""],
            "unique": false,
            "dropdups": false
          }
        ],
        "Fields": [
          {
            "foreign": "",
            "value": "flags",
            "local": "type",
            "relation": "Constant",
            "type": "String"
          },
          {
            "foreign": "",
            "value": "comments",
            "local": "target",
            "relation": "Constant",
            "type": "String"
          },
          {
            "foreign": "_id",
            "local": "target_id",
            "relation": "Source",
            "type": "String"
          },
          {
            "foreign": "object.flags",
            "fields": [
              {
                "foreign": "published",
                "local": "date",
                "relation": "Identity"
              },
              {
                "foreign": "actor.id",
                "local" : "user_id",
                "relation": "Source"
              }
            ],
            "type": "Array",
            "relation": "Loop"
          }
        ],
        "Endpoint": "/api/import/action"
      }
    }
  },
  "Credentials": {
    "Database":
      {
        "database": "",
        "username": "",
        "password": "",
        "host": "",
        "port": "",
        "adapter": "mongodb",
        "type": "foreign"
      }
  }
}
