{
  "Name": "New York Times",
  "Map": {
    "Foreign": "mysql",
    "Tables": {
      "asset": {
        "Foreign": "crnr_asset",
        "Local": "asset",
        "OrderBy": "assetid",
        "ID": "assetid",
        "IndexBy": {
          "keys": {
            "asseturl": "text"
          },
          "options": {}
        },
        "Fields": [
          {
            "foreign": "assetid",
            "local": "src_id",
            "relation": "Identity",
            "type": "int"
          },
          {
            "foreign": "asseturl",
            "local": "url",
            "relation": "Identity",
            "type": "int"
          },
          {
            "foreign": "updatedate",
            "local": "date_updated",
            "relation": "ParseTimeDate",
            "type": "timeDate"
          }
        ]
      },
      "user": {
        "Foreign": "crnr_comment",
        "Local": "user",
        "OrderBy": "userid",
        "ID": "userid",
        "IndexBy": {
          "keys": {
            "user_name": "text"
          },
          "options": {}
        },
        "Fields": [
          {
            "foreign": "userid",
            "local": "src_id",
            "relation": "Identity",
            "type": "int"
          },
          {
            "foreign": "userdisplayname",
            "local": "user_name",
            "relation": "Identity",
            "type": "[]byte"
          },
          {
            "foreign": "updatedate",
            "local": "date_updated",
            "relation": "ParseTimeDate",
            "type": "timedate"
          }
        ]
      },
      "comment": {
        "Foreign": "crnr_comment",
        "Local": "comment",
        "OrderBy": "commentid",
        "ID": "commentid",
        "IndexBy": {
          "keys": {
            "commentid": "text"
          },
          "options": {}
        },
        "Fields": [
          {
            "foreign": "commentid",
            "local": "id",
            "relation": "Source",
						"type": "int"
          },
          {
            "foreign": "commentbody",
            "local": "body",
            "relation": "Identity",
						"type": "[]byte"
          },
          {
            "foreign": "userid",
            "local": "user_id",
            "relation": "Source",
            "type": "int"
          },
          {
            "foreign": "assetid",
            "local": "asset_id",
            "relation": "Source",
						"type": "int"
          },
          {
            "foreign": "statusid",
            "local": "status",
            "relation": "Identity",
						"type": "int"
          },
          {
            "foreign": "parentid",
            "local": "parent_id",
            "relation": "Identity",
            "type": "int"
          },
          {
            "foreign": "createdate",
            "local": "date_created",
            "relation": "ParseTimeDate",
						"type": "timedate"
          },
          {
            "foreign": "updatedate",
            "local": "date_updated",
            "relation": "ParseTimeDate",
						"type": "timedate"
          },
          {
            "foreign": "approvedate",
            "local": "date_approved",
            "relation": "ParseTimeDate",
						"type": "timedate"
          }
        ]
      }
    }
  },
  "Credentials": {
    "Databases": [
      {
        "database": "",
        "username": "",
        "password": "",
        "host": "",
        "port": "",
        "adapter": "mysql",
        "type": "foreign"
      },
      {
        "database": "",
        "username": "",
        "password": "",
        "host": "",
        "port": "",
        "adapter": "mongodb",
        "type": "foreign"
      }
    ]
  }
}
