{
  "Name": "New York Times",
  "Map": {
    "foreign": "mysql",
    "tables": {
      "comment": {
        "foreign": "crnr_comment",
        "local": "comment",
        "fields": [
          {
            "foreign": "commentid",
            "local": "id",
            "relation": "Source",
						"type": "int"
          },
          {
            "foreign": "commentbody",
            "local": "body",
            "relation": "Identity",
						"type": "[]byte"
          },
          {
            "foreign": "parentid",
            "local": "parent_id",
            "relation": "Source",
						"type": "int"
          },
          {
            "foreign": "assetid",
            "local": "asset_id",
            "relation": "Source",
						"type": "int"
          },
          {
            "foreign": "statusid",
            "local": "status",
            "relation": "Identity",
						"type": "string"
          },
          {
            "foreign": "createdate",
            "local": "date_created",
            "relation": "ParseTimeDate",
						"type": "timedate"
          },
          {
            "foreign": "updatedate",
            "local": "date_updated",
            "relation": "ParseTimeDate",
						"type": "timedate"
          },
          {
            "foreign": "approvedate",
            "local": "date_approved",
            "relation": "ParseTimeDate",
						"type": "timedate"
          }
        ]
      }
    }
  },
  "Credentials": {
    "Databases": [
      {
        "database": "",
        "username": "",
        "password": "",
        "host": "localhost",
        "port": "5432",
        "adapter": "mysql",
        "type": "foreign"
      },
      {
        "database": "",
        "username": "",
        "password": "",
        "host": "",
        "port": "27017",
        "adapter": "mongodb",
        "type": "local"
      }
    ]
  }
}
