commentID,assetID,statusID,"commentTitle","commentBody",userID,"createDate","updateDate","approveDate","commentExcerpt",editorsSelection,recommendationCount,replyCount,isReply,commentSequence,"userDisplayName","userURL","userTitle","userLocation",showCommentExcerpt,hideRegisteredUserName,"commentType",parentID
0,0,3,NULL,NULL,0,"2011-09-27 03:09:20",NULL,NULL,NULL,NULL,NULL,0,0,NULL,NULL,NULL,NULL,NULL,NULL,0,"comment",NULL
2,8055,3,"","Uh",2364811,"2007-10-25 16:17:49","2013-10-09 09:53:15","2007-10-25 16:20:38",NULL,0,1,0,0,1,"Roger",NULL,NULL,"NYC",0,0,"comment",NULL
